* {
    font-family: 'Montserrat', sans-serif;
}

section {
    line-height: 10%;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.date {
    color: gray;
    font-size: 10px;
}

span {
    background-color: rgba(211, 211, 211, 0.342);
    line-height: 30%;
    font-size: 10px;
    
}
